# 10.1 Final Analysis Questions (Answers Tasks 1-4)

# Import Libraries and Datasets

## Set PD code

# Reviewing for PHI/Security Implications

# Analysis of Regional Sales

## Creating a Regional Flag

##  Creating a Crosstab for regional and spending flag for analysis

# Creating new data Set without Low-Activity Customers

## Create Exclusionary Flag for Low-Spenders

## Exporting Active members data set as orders_products_active.pkl

------

# Import Libraries and Datasets

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#pathway to datasets
path =(r'C:\Users\colmu\Desktop\Career Foundry\Achievement 4\Instacart Basket Analysis')

In [3]:
#Importing dataset
ords_prods=pd.read_pickle(os.path.join(path, 'data','Prepared Data','orders_products_all.pkl'))

### Set PD code

In [5]:
#creating PD setting, display max columns
pd.set_option('display.max_columns', 1000)

# Reviewing for PHI/Security Implications

In [6]:
#reviewing column headers and first 5 rows for PHI implications. PHI previously removed, no changes made.
ords_prods.head()

,order_id,user_id,clients_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,Gender,state_usa,Age,date_joined,n_dependants,fam_status,income,price_range_loc,busiest_period_of_day,busiest_days,loyalty_flag,spending_flag,FRQ_prior_order_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Female,Alabama,31,2/17/2019,3,married,40423,Mid-range product,least orders,regularly busy days,New customer,Low spender,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Female,Alabama,31,2/17/2019,3,married,40423,Mid-range product,least orders,least busy days,New customer,Low spender,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Female,Alabama,31,2/17/2019,3,married,40423,Mid-range product,most orders,least busy days,New customer,Low spender,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Female,Alabama,31,2/17/2019,3,married,40423,Mid-range product,least orders,least busy days,New customer,Low spender,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Female,Alabama,31,2/17/2019,3,married,40423,Mid-range product,most orders,least busy days,New customer,Low spender,Non-frequent customer

# Analysis of Regional Sales

## Creating a Regional Flag

In [5]:
#creating LOC for Northeast region
ords_prods.loc[ords_prods['state_usa'].isin(['Maine','New Hampshire','Vermont','Massachusetts', 'Rhode Island','Connecticut','New York','Pennsylvania','New Jersey']), 'regional_flag'] = 'Northeast'

In [6]:
#creating LOC for Midwest
ords_prods.loc[ords_prods['state_usa'].isin(['Wisconsin','Michigan','Illinois','Indiana', 'Ohio', 'North Dakota','South Dakota''Nebraska','Kansas''Minnesota','Iowa''Missouri']), 'regional_flag'] = 'Midwest'

In [7]:
#creating LOC for South region
ords_prods.loc[ords_prods['state_usa'].isin(['Delaware', 'Maryland','District of Columbia''Virginia''West Virginia','North Carolina','South Carolina', 'Georgia','Florida',' Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']), 'regional_flag'] = 'South'

In [8]:
#creating LOC for West region
ords_prods.loc[ords_prods['state_usa'].isin(['Idaho', 'Montana','Wyoming','Nevada','Utah','Colorado','Arizona','New Mexico','Alaska','Washington','Oregon','California','Hawaii']), 'regional_flag'] = 'West'

In [9]:
#checking regional Flag value counts
ords_prods['regional_flag'].value_counts(dropna=False)

regional_flag
West         8292913
South        8291983
NaN          6311075
Northeast    5722736
Midwest      3786152
Name: count, dtype: int64

In [10]:
#Total Row count for Regional_flag
ords_prods['regional_flag'].count()

26093784

##  Creating a Crosstab for regional and spending flag for analysis

In [15]:
#creating a crosstab 
region_crosstab=pd.crosstab(ords_prods['regional_flag'],ords_prods['spending_flag'],dropna=False)

In [85]:
#check
region_crosstab

spending_flag  High spender  Low spender
regional_flag
Midwest               81703      3704449
Northeast            108225      5614511
South                157514      8134469
West                 160354      8132559
NaN                  126449      6184626

# Creating new data Set without Low-Activity Customers

## Create Exclusionary Flag for Low-Spenders

In [11]:
#creating max column for client orders
ords_prods['max_order'] = ords_prods.groupby(['user_id'])['clients_order_number'].transform(np.max)

C:\Users\colmu\AppData\Local\Temp\ipykernel_14188\3507667209.py:2: FutureWarning: The provided callable <function amax at 0x0000021205D41D00> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods['max_order'] = ords_prods.groupby(['user_id'])['clients_order_number'].transform(np.max)

In [12]:
#Creating Exclusionary row for low acitvity and active cusotmers
result = []

for value in ords_prods["max_order"]:
  if value < 5:
    result.append("Low_activity")
  else:
    result.append("Active")

In [13]:
# set results to Customer_activity
ords_prods['Customer_activity'] = result

In [14]:
ords_prods['Customer_activity'].value_counts()

Customer_activity
Active          30964564
Low_activity     1440295
Name: count, dtype: int64

In [15]:
#creating subset of low_activity customers
orders_products_Low_Activity = ords_prods[ords_prods['Customer_activity'] =='Low_activity']

In [16]:
#creating subset of active customers
orders_products_active = ords_prods[ords_prods['Customer_activity'] =='Active']

In [17]:
#check
orders_products_Low_Activity.shape

(1440295, 29)

In [18]:
#check
orders_products_active.shape

(30964564, 29)

In [19]:
#matching total data set row count
1440295 + 30964564

32404859

## Exporting Active members data set as orders_products_active.pkl

In [20]:
#Export orders_products_active as PKL
orders_products_active.to_pickle(os.path.join(path,'Data','Prepared Data','orders_products_active.pkl'))