# 4.6 Reading Exercise

## Importing Libraries and DFs

In [11]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [12]:
#create df pathway
path= (r'C:\Users\colmu\Desktop\Career Foundry\Achievement 4\Instacart Basket Analysis\Data')

In [13]:
#Importing orders_prior DF
df_ords=pd.read_csv(os.path.join(path,'prepared data', 'orders_checked.csv'), index_col= False)

In [14]:
#Importing products_prior DF
df_prods=pd.read_csv(os.path.join(path,'prepared data', 'products_checked.csv'), index_col= False)

In [15]:
#Importing products_prior DF
df_ords_prior=pd.read_csv(os.path.join(path,'original data', 'orders_products_prior.csv'), index_col= False)

## Checking DF Dimensions

In [16]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
df_ords_prior.shape

(32434489, 4)

In [18]:
df_ords.head()

,order_id,user_id,clients_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [19]:
df_ords.shape

(3421083, 6)

## Merging orders_prior and orders Dataframes

In [20]:
#merging order df and order_prior df
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.head()

,order_id,user_id,clients_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

## Checking the DF and Saving

In [22]:
#checking value counts in df-merge
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [24]:
df_merged_large.shape

(32434489, 10)

In [25]:
#removing _merge column for upcoming merge
df_merged_larges=df_merged_large.drop(columns=['_merge'])

### Exporting Datasets

In [26]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_combined.pkl'))