# Deriving New Variables

# Importing Libraries and Dataframes

# Start of Reading Task

## Deriving Variables Data sub-set

## Deriving Variables Full dataset

## If-statements using Loops

# Start of Exercise

## Task 2

## Task 3 busiest_day results

## Task 4 Deriving Busiest_hours for orders

## Task 5 Print Frequency for Busiest_hours

## Task Export Dataset

------------

# Importing Libraries and Dataframes

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#pathway to datasets
path =(r'C:\Users\colmu\Desktop\Career Foundry\Achievement 4\Instacart Basket Analysis\Data')

In [3]:
df_ords_prods_merge=pd.read_pickle(os.path.join(path,'Prepared Data','orders_products_merged.pkl'))

# Start of Reading Task

In [4]:
# checking dimensions
df_ords_prods_merge.head()

,order_id,user_id,clients_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_period_of_day,busiest_days,loyalty_flag,spending_flag,FRQ_prior_order_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,least orders,regularly busy days,New customer,Low spender,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,least orders,least busy days,New customer,Low spender,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,most orders,least busy days,New customer,Low spender,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,least orders,least busy days,New customer,Low spender,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,most orders,least busy days,New customer,Low spender,Non-frequent customer

In [5]:
df_ords_prods_merge.shape

(32404859, 13)

## Deriving Variables Data sub-set

In [6]:
#creating a subset
df=df_ords_prods_merge[:1000000]

In [7]:
#user def- price label syntax
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return np.nan

In [8]:
#creating flag for user syntax price label
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\colmu\AppData\Local\Temp\ipykernel_11680\216780269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
#value count of Price_range column
df['price_range'].value_counts(dropna=False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [10]:
#most expensive product within the subset
df['prices'].max()

14.8

In [11]:
#setting loc for high range products
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\colmu\AppData\Local\Temp\ipykernel_11680\1019599505.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'
C:\Users\colmu\AppData\Local\Temp\ipykernel_11680\1019599505.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'High-range product' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [12]:
#setting loc for mid range products
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [13]:
#setting loc for low range products
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [14]:
df['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

## Deriving Variables Full dataset

In [17]:
#setting loc for high range products
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [18]:
#setting loc for mid range products
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [19]:
#setting loc for low range products
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [20]:
df_ords_prods_merge['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

## If-statements using Loops

In [103]:
#Frequency count  DOW 
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [134]:
#creating if loop to group busiest_day
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("busiest day")
  elif value == 4:
    result.append("least busy")
  else:
    result.append("regularly busy")

In [135]:
df_ords_prods_merge['busiest_day'] = result

In [136]:
#busiest_day results
df_ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
regularly busy    22416875
busiest day        6204182
least busy         3783802
Name: count, dtype: int64

--------

# Start of Exercise

## Task 2

In [125]:
#Redefining busiest_day to busiest_days
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value <= 1:
    result.append("busiests days")
  elif value == 3:
    result.append("least busy days")
  elif value == 4:
    result.append("least busy days")
  else:
    result.append("regularly busy days")

In [126]:
# set results to busiest_days
df_ords_prods_merge['busiest_days'] = result

## Task 3 busiest_day results

In [127]:
#Frequency count busiest order hours
df_ords_prods_merge['busiest_days'].value_counts(dropna=False)

busiest_days
regularly busy days    12916111
busiests days          11864412
least busy days         7624336
Name: count, dtype: int64

## Task 4 Deriving Busiest_hours for orders

In [66]:
#Frequency count busiest order hours
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [128]:
#creating subset for busiest_period_of_day (L-12 to 9 M- 10 to 16 A- 17 to 23)
result = []

for value in df_ords_prods_merge["order_hour_of_day"]:
  if value <= 9:
    result.append("least orders")
  elif value >= 17:
    result.append("average orders")
  else:
    result.append("most orders")

In [129]:
# set results to busiest_days
df_ords_prods_merge['busiest_period_of_day'] = result

## Task 5 Print Frequency for Busiest_hours

In [130]:
#task 5 Value count busiest order hours
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
most orders       18663868
average orders     7790795
least orders       5950196
Name: count, dtype: int64

## Task Export Dataset

In [138]:
#Export df_ords_prods_merge into a pickle
df_ords_prods_merge.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_merge.pkl'))